<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CAR RENT - {% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Travelix Project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {# ---------------------- CSS ---------------------- #}
            {% if resultSearch is defined and (resultSearch == 'yes')%}
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/styles/offers_styles.css")}}">
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/styles/offers_responsive.css")}}">
            {% else %}
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css")}}">
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css")}}">
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/plugins/OwlCarousel2-2.2.1/animate.css")}}">
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/styles/main_styles.css")}}">
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/styles/responsive.css")}}">
            {% endif %}
            <link href="{{ asset("assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css")}}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="{{ asset("assets/styles/bootstrap4/bootstrap.min.css")}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            {# ---------------------- END CSS ---------------------- #}
        {% endblock %}
        <link rel="icon" type="image/png" sizes="20x20" href="{{ asset("assets/images/car-30984_640-ConvertImage.png")}}">
        <style>
            html{
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="social">
                                <ul class="social_list">
                                    <li class="social_list_item"><a href="//www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social_list_item"><a href="//www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social_list_item"><a href="//www.dribbble.com"><i class="fa fa-dribbble"></i></a></li>
                                    <li class="social_list_item"><a href="//www.whatsapp.com"><i class="fa fa-whatsapp"></i></a></li>
                                    <li class="social_list_item"><a href="//www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            
                            <div class="user_box ml-auto">
                                {% if app.session.get('id') == NULL %}
                                    <div class="user_box_login user_box_link"><a href="/">Accueil</a></div>
                                    <div class="user_box_login user_box_link"><a href="#contact_info_list">Info contact</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>		
            </div>
            <nav class="main_nav" style=height:90px >
                <div class="container">
                    <div class="row">
                        <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                            <div class="main_nav_container ml-auto">
                                {% if app.session.get('id') == NULL %}
                                <div class="logo_container footer_logo">
                                    <div><a href="#">CAR<img src="{{ asset("assets/images/car-30984_640-ConvertImage.png")}}" alt="">RENT</a></div>
                                </div>
                                    <ul class="main_nav_list" style=padding-left:600px>
                                        <li class="main_nav_item"><a href="/login">Se connecter</a></li>
                                        <li class="main_nav_item"><a href="/register">S'inscrire</a></li>
                                    </ul>
                                {% else %}
                                    <ul class="main_nav_list">
                                        <li class="main_nav_item"><a href="#">Bonjour <b>{{app.session.get('name') ~' '~ app.session.get('surname')}}</b> Content de vous revoir !</a></li>
                                        <li class="main_nav_item"><a href="/deconnection">Déconnexion</a></li>
                                    </ul>
                                {% endif %}
                                
                            </div>
                            <div class="hamburger">
                                <i class="fa fa-bars trans_200"></i>
                            </div>
                        </div>
                    </div>
                </div>	
            </nav>
        </header>
        <div class="menu trans_500">
            <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                <div class="menu_close_container"><div class="menu_close"></div></div>
                {% if app.session.get('id') == NULL %}
                <ul>
                    <li class="button search_button"><a href="/login">Se connecter</a></li>
                    <li class="button search_button"><a href="/register">S'inscrire</a></li>
                </ul>
                {% else %}
                <ul>
                    <li class="main_nav_item"><a href="/deconnection">Déconnexion</a></li>
                </ul>
                {% endif %}
                
            </div>
        </div>
        {# If user is concected do... #}
        {% if (app.session.get('id') != NULL) and (resultSearch is not defined) %}
            <div class="home">
		
                <!-- Home Slider -->

                <div class="home_slider_container">
                    
                    <div class="owl-carousel owl-theme home_slider">

                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <!-- Image by https://unsplash.com/@anikindimitry -->
                            <div class="home_slider_background" style="background-image:url({{ asset("assets/images/home_slider.jpg")}})"></div>

                            <div class="home_slider_content text-center">
                                <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                    <h1>Bonjour</h1>
                                    <h1>{{app.session.get('surname')}}</h1>
                                </div>
                            </div>
                        </div>

                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <div class="home_slider_background" style="background-image:url({{ asset("assets/images/porsche.jpg")}})"></div>

                            <div class="home_slider_content text-center">
                                <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                    <h1>Bonjour</h1>
                                    <h1>{{app.session.get('surname')}}</h1>
                                </div>
                            </div>
                        </div>

                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <div class="home_slider_background" style="background-image:url({{ asset("assets/images/routes_chine.jpg")}})"></div>

                            <div class="home_slider_content text-center">
                                <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                    <h1>Bonjour</h1>
                                    <h1>{{app.session.get('surname')}}</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- Home Slider Nav - Prev -->
                    <div class="home_slider_nav home_slider_prev">
                        <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                            <defs>
                                <linearGradient id='home_grad_prev'>
                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                    <stop offset='100%' stop-color='#8d4fff'/>
                                </linearGradient>
                            </defs>
                            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                            M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                            C22.545,2,26,5.541,26,9.909V23.091z"/>
                            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
                            11.042,18.219 "/>
                        </svg>
                    </div>
                    
                    <!-- Home Slider Nav - Next -->
                    <div class="home_slider_nav home_slider_next">
                        <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                            <defs>
                                <linearGradient id='home_grad_next'>
                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                    <stop offset='100%' stop-color='#8d4fff'/>
                                </linearGradient>
                            </defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                        M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                        C22.545,2,26,5.541,26,9.909V23.091z"/>
                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
                        17.046,15.554 "/>
                        </svg>
                    </div>

                </div>

            </div>
            {# end If user is concected do... #}

            <!-- Search -->

            <div class="search">
                

                <!-- Search Contents -->
                
                <div class="container fill_height">
                    <div class="row fill_height">
                        <div class="col fill_height">

                            <!-- Search Tabs -->

                            <div class="search_tabs_container">
                                <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><a style="color:#333" href="/consultPost/{{app.session.get('name')|lower}}">Consulter mes annonces</a></div>
                                    <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><a style="color:#333" href="/newPost/{{app.session.get('name')|lower}}">Poster une annonce</a></div>
                                    <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><a style="color:#333" href="/mycars/{{app.session.get('name')|lower}}">Mes véhicules</a></div>
                                    <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><a style="color:#333" href="/accountSettings/{{app.session.get('name')|lower}}">Paramètres du compte</a></div>
                                </div>		
                            </div>


                            {# Search Panel #}

                            {# {% include 'Commons/searchPanel.html' %} #}
                          
                            
                            <div class="search_panel active">
                                
                                <form action="/search" method="GET" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    
                                    <div class="search_item">
                                        <div>Lieu</div>
                                        <input type="text" name="city" class="destination search_input" required="required" placeholder="Saisissez une adresse, une ville">
                                    </div>
                                    <div class="search_item">
                                        <div>Début location</div>
                                        <input id="dateStartPicker" type="date" name="startDate" class="check_in search_input" placeholder="JJ/MM/YYYY">
                                    </div>
                                    <div class="search_item">
                                        <div>Fin location</div>
                                        <input id="dateEndPicker" type="date" name="endDate" class="check_out search_input" placeholder="JJ/MM/YYYY">
                                    </div>
                                    <div class="search_item">
                                        <div>KM</div>
                                        <select name="Km" id="km" class="dropdown_item_select search_input">
                                            {% for i in 1..100 %}
                                                <option value="{{ i * 20}}">{{ i * 20}} Km</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <button type="submit" class="button search_button">Rechercher<span></span><span></span><span></span></button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>		
            </div>

        {% endif %}
        {% if resultSearch is defined and resultSearch == 'yes' %}
        
            <div class="home">
                
                <div class="home_background parallax-window" data-parallax="scroll"><img style="width:100%;height:90%" src="{{ asset("assets/images/about_background.jpg")}}"></div>
                <div class="home_content">
                    <div class="home_title">Les annonces disponibles</div>
                </div>
            </div>

        {% endif %}

        {% if page is defined and page == 'landing' and (app.session.get('id') == NULL) %}
        <div class="super_container">
            <!-- Home -->
            <div class="home">
                <div class="home_slider_container">
                    <div class="owl-carousel owl-theme home_slider">
                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <!-- Image by https://unsplash.com/@anikindimitry -->
                            <div class="home_slider_background" style="background-image:url({{ asset("assets/images/porsche.jpg")}})"></div>
                            <div class="home_slider_content text-center">
                                <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                    <h1>car</h1>
                                    <h1>-rent</h1>
                                    <div class="button home_slider_button"><div class="button_bcg"></div><a href="#search">En savoir plus !<span></span><span></span><span></span></a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <div class="home_slider_background" style="background-image:url({{ asset("assets/images/home_slider.jpg")}})"></div>

                            <div class="home_slider_content text-center">
                                <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                    <h1>car</h1>
                                    <h1>-rent</h1>
                                    <div class="button home_slider_button"><div class="button_bcg"></div><a href="#search">En savoir plus !<span></span><span></span><span></span></a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Slider Item -->
                        <div class="owl-item home_slider_item">
                            <div class="home_slider_background" style="background-image:url({{ asset("assets/images/routes_chine.jpg")}})"></div>

                            <div class="home_slider_content text-center">
                                <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                    <h1>car</h1>
                                    <h1>-rent</h1>
                                    <div class="button home_slider_button"><div class="button_bcg"></div><a href="#search">En savoir plus !<span></span><span></span><span></span></a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- Home Slider Nav - Prev -->
                    <div class="home_slider_nav home_slider_prev">
                        <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                            <defs>
                                <linearGradient id='home_grad_prev'>
                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                    <stop offset='100%' stop-color='#8d4fff'/>
                                </linearGradient>
                            </defs>
                            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                            M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                            C22.545,2,26,5.541,26,9.909V23.091z"/>
                            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
                            11.042,18.219 "/>
                        </svg>
                    </div>
                    
                    <!-- Home Slider Nav - Next -->
                    <div class="home_slider_nav home_slider_next">
                        <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                            <defs>
                                <linearGradient id='home_grad_next'>
                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                    <stop offset='100%' stop-color='#8d4fff'/>
                                </linearGradient>
                            </defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                        M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                        C22.545,2,26,5.541,26,9.909V23.091z"/>
                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
                        17.046,15.554 "/>
                        </svg>
                    </div>

                    
                </div>

            </div>
            <!-- Search -->

            <div class="search" id="search">
                

                <!-- Search Contents -->
                
                <div class="container fill_height">
                    <div class="row fill_height">
                        <div class="col fill_height">

                            <!-- Search Tabs -->

                            <div class="search_tabs_container">
                                <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>Trouver un véhicule</span></div>
                                    <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">Louer mon véhicule</div>
                                </div>		
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel active">
                                <form action="/search" method="GET" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>Lieu</div>
                                        <input type="text" name="city" class="destination search_input" required="required" placeholder="Saisissez une adresse, une ville">
                                    </div>
                                    <div class="search_item">
                                        <div>Début location</div>
                                        <input id="dateStartPicker" type="date" name="startDate" class="check_in search_input" placeholder="JJ/MM/YYYY">
                                    </div>
                                    <div class="search_item">
                                        <div>Fin location</div>
                                        <input id="dateEndPicker" type="date" name="endDate" class="check_out search_input" placeholder="JJ/MM/YYYY">
                                    </div>
                                    <div class="search_item">
                                        <div>KM</div>
                                        <select name="Km" id="km" class="dropdown_item_select search_input">
                                            {% for i in 1..100 %}
                                                <option value="{{ i * 20}}">{{ i * 20}} Km</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="button search_button">Rechercher<span></span><span></span><span></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>		
            </div>
        {% endif %}
        {% block body %}
            {# ICI TU DOIS RAJOUTER LE CONTENU QUI CHANGE !! #}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){
               // Action Listenner (Un écouteur d'action)...

                var valueDateStart = null;
                var valueDateEnd = null;
                var currentDate = new Date();
                if ((currentDate.getMonth()+1) > 9){
                    var currentDate = parseInt(currentDate.getFullYear() + "" + (currentDate.getMonth()+1) + "" + currentDate.getDate()); 
                }else{
                    var currentDate = parseInt(currentDate.getFullYear() + "0" + (currentDate.getMonth()+1) + "" + currentDate.getDate()); 
                }
                
                $('#dateStartPicker').change(function() {
                    valueDateStart = $(this).val();
                    valueDateStart = valueDateStart.split("-");
                    valueDateStart = parseInt(valueDateStart[0]+valueDateStart[1]+valueDateStart[2]);
                    if(currentDate > valueDateStart){
                        alert("La date de début ne peut être dans le passé...");
                        location.reload();
                    }
                    if((valueDateStart != null) && (valueDateEnd != null)){
                        if(valueDateStart > valueDateEnd){
                            alert("La date de début ne peut être supérieur à la date de fin...");
                            location.reload();
                        }
                    }
                });

                $('#dateEndPicker').change(function() {
                    valueDateEnd = $(this).val();
                    valueDateEnd = valueDateEnd.split("-");
                    valueDateEnd = parseInt(valueDateEnd[0]+valueDateEnd[1]+valueDateEnd[2]);
                    
                    if((valueDateStart != null) && (valueDateEnd != null)){
                        if(valueDateStart > valueDateEnd){
                            alert("La date de début ne peut être supérieur à la date de fin...");
                            location.reload();
                        }
                    }
                });
                
                
            });
        </script>
        {# ---------------------- JS ---------------------- #}
        
        <script src="{{ asset("assets/js/jquery-3.2.1.min.js")}}"></script>
        <script src="{{ asset("assets/styles/bootstrap4/popper.js")}}"></script>
        <script src="{{ asset("assets/styles/bootstrap4/bootstrap.min.js")}}"></script>
        <script src="{{ asset("assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js")}}"></script>
        <script src="{{ asset("assets/plugins/easing/easing.js")}}"></script>
        <script src="{{ asset("assets/js/custom.js")}}"></script>

        <script src="{{ asset("assets/plugins/Isotope/isotope.pkgd.min.js")}}"></script>
        <script src="{{ asset("assets/plugins/Isotope/parallax.min.js")}}"></script>
        <script src="{{ asset("assets/js/offers_custom.js")}}"></script>
        {# ---------------------- END JS ---------------------- #}

    	<!-- Footer -->

        <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- Footer Column -->
                <div class="col-lg-4 footer_column">
                    <div class="footer_col">
                        <div class="footer_content footer_about">
                            <div class="logo_container footer_logo">
                                <div><a href="#">CAR<img src="{{ asset("assets/images/car-30984_640-ConvertImage.png")}}" alt="">RENT</a></div>
                            </div>
                            <p class="footer_about_text">Lorem ipsum dolor sit, consectetur adipiscing elit. <strong><big>Vivamus quis vulputate</big></strong> eros, iaculis consequat nisl. Nunc et suscipit urna. Integer eleme ntum orci eu vehicula pretium.</p>
                            <ul class="footer_social_list">
                        <li class="footer_social_item"><a href="//www.facebook.com"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="footer_social_item"><a href="//www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="footer_social_item"><a href="//www.whatsapp"><i class="fa fa-whatsapp"></i></a></li>
            <li class="footer_social_item"><a href="//www.dribbble.com"><i class="fa fa-dribbble"></i></a></li>
                                <li class="footer_social_item"><a href="//www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_column">
                    <div class="footer_col">
                        <div class="footer_title">villes couvertes</div>
                        <div class="footer_content footer_tags">
                            <ul class="tags_list clearfix">
                                <li class="tag_item"><a href="#search">Paris</a></li>
                                <li class="tag_item"><a href="#search">Toulouse</a></li>
                                <li class="tag_item"><a href="#search">Marseille</a></li>
                                <li class="tag_item"><a href="#search">Nice</a></li>
                                <li class="tag_item"><a href="#search">Lyon</a></li>
                                <li class="tag_item"><a href="#search">Bordeaux</a></li>
                                <li class="tag_item"><a href="#search">Lille</a></li>
                                <li class="tag_item"><a href="#search">Rouen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_column">
                    <div class="footer_col">
                        <div class="footer_title">info contact</div>
                        <div class="footer_content footer_contact">
                            <ul class="contact_info_list" id="contact_info_list">
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="../../assets/images/placeholder.svg" alt=""></div></div>
                                    <div class="contact_info_text">Siège social : 75 Paris</div>
                                </li>
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="../../assets/images/phone-call.svg" alt=""></div></div>
                                    <div class="contact_info_text">01 23 45 67 89</div>
                                </li>
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="../../assets/images/message.svg" alt=""></div></div>
                                    <div class="contact_info_text"><a href="mailto:contactezmoi@gmail.com?Subject=Hello" target="_top">contactezmoi@gmail.com</a></div>
                                </li>
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="../../assets/images/planet-earth.svg" alt=""></div></div>
                                    <div class="contact_info_text"><a href="https://car-rent.fr">www.car-rent.fr</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2  ">
                        <div class="copyright_content d-flex flex-row align-items-center">
                            <div>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <br> This template is made with <i class="fa fa-heart-o"></i> by <a href="#">Rachid</a></div>
                        </div>
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
                            <div class="footer_nav">
                                <ul class="footer_nav_list">
                                    <li class="footer_nav_item"><a href="#">Accueil</a></li>
                                    <li class="footer_nav_item"><a href="#intro">Fonctionnement</a></li>
                                    <li class="footer_nav_item"><a href="#offres">Dernières offres</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
